<div class="tasks-page">
  <div class="tasks-page__header">
    <h1>Tasks</h1>
    <p-button
      label="Clear all"
      icon="pi pi-trash"
      [text]="true"
      severity="danger"
      [disabled]="!hasFinishedJobs()"
      (onClick)="confirmClearFinished()"
    />
  </div>

  <p-table [value]="jobs()" [loading]="loading()" dataKey="id" [size]="'small'">
    <ng-template pTemplate="header">
      <tr>
        <th>Operation</th>
        <th>Status</th>
        <th style="width: 16rem">Progress</th>
        <th style="width: 11rem">Created</th>
        <th style="width: 6rem"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-job>
      <tr>
        <td>
          <div class="tasks-page__op">{{ job.type }}</div>
          <div class="tasks-page__summary">{{ summary(job) }}</div>
          @if (job.errorMessage) {
            <div class="tasks-page__error">{{ job.errorMessage }}</div>
          }
        </td>
        <td><p-tag [value]="job.status" [severity]="statusSeverity(job.status)" /></td>
        <td>
          <p-progressbar [value]="progressPercent(job)" [showValue]="true" />
          <div class="tasks-page__progress-detail">
            {{ job.processedItems }}/{{ job.totalItems }} items
            @if (job.totalBytes > 0) {
              · {{ formatBytes(job.processedBytes) }}/{{ formatBytes(job.totalBytes) }}
            }
          </div>
        </td>
        <td>{{ formatDateTime(job.createdAt) }}</td>
        <td>
          @if (canCancel(job)) {
            <p-button icon="pi pi-times" [text]="true" severity="danger" (onClick)="cancel(job)" pTooltip="Cancel" />
          }
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="5" class="tasks-page__empty">No file operations yet.</td>
      </tr>
    </ng-template>
  </p-table>
</div>
