.change-password {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;

  label {
    font-size: 0.8rem;
    font-weight: 600;
  }

  &__actions {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
    margin-top: 0.5rem;
  }
}

:host ::ng-deep {
  .p-password,
  .p-password-input {
    width: 100%;
  }
}
