<p-dialog
  header="Change password"
  [(visible)]="visible"
  [modal]="true"
  [style]="{ width: '24rem' }"
  (visibleChange)="visibleChange.emit($event)"
  (onHide)="close()"
>
  <form class="change-password" (ngSubmit)="submit()">
    <label for="newPassword">New password</label>
    <p-password
      id="newPassword"
      name="newPassword"
      [(ngModel)]="newPassword"
      [toggleMask]="true"
      autocomplete="new-password"
    />

    <label for="confirmPassword">Confirm new password</label>
    <p-password
      id="confirmPassword"
      name="confirmPassword"
      [(ngModel)]="confirmPassword"
      [feedback]="false"
      [toggleMask]="true"
      autocomplete="new-password"
    />

    @if (errorMessage()) {
      <p-message severity="error" [text]="errorMessage()!" />
    }

    <div class="change-password__actions">
      <p-button label="Cancel" [text]="true" type="button" (onClick)="close()" />
      <p-button label="Change password" type="submit" [loading]="saving()" />
    </div>
  </form>
</p-dialog>
